asgiref
boto3
botocore
cachetools
certifi
charset-normalizer
crispy-bootstrap5
dj-database-url
Django
django-crispy-forms
crispy-bootstrap4
django-filter
django-storages
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gunicorn
httplib2
idna
jmespath
matplotlib
numpy
oauthlib
packaging
pandas
pillow
psycopg2-binary
proto-plus
protobuf
pyasn1
pyasn1_modules
pyparsing
python-dateutil
python-dotenv
reportlab>=4.4.0
requests
requests-oauthlib
rsa
s3transfer
setuptools
six
sqlparse
stripe
typing_extensions
tzdata
uritemplate
urllib3
wheel
whitenoise
